<!DOCTYPE html>
<html layout:decorate="~{shared/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">User List</h3>

            <a href="/auditor/create" class="btn btn-primary float-right">
                <i class="fas fa-plus"></i> Add Auditor
            </a>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>NIP</th>
                    <th>Jabatan</th>
                    <th>Unit Kerja</th>
                    <th>Pendidikan</th>
                    <th>Enabled</th>
                    <th width="180">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.email}"></td>

                    <td>
                            <span th:each="r : ${u.roles}"
                                  class="badge badge-info"
                                  th:text="${r.name}"></span>
                    </td>

                    <td>
                        <span th:text="${u.enabled ? 'Active' : 'Disabled'}"></span>
                    </td>

                    <td>
                        <a th:href="'/users/edit/' + ${u.id}" class="btn btn-sm btn-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="'/users/delete/' + ${u.id}" class="btn btn-sm btn-danger"
                           onclick="return confirm('Delete user?')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</th:block>
</html>
