<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" href="/">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             src="/webjars/AdminLTE/3.2.0/dist/img/AdminLTELogo.png"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SPK SAW</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2"
                     src="https://avatar.iran.liara.run/public/46">
            </div>
            <div class="info">
                <a class="d-block" href="#" th:text="${username}">John Doe</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" href="/users">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Data Users</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auditors">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Data Auditors</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/criterias">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Data Criteria</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sub_criterias">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Data Sub Criteria</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alternative-scores">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Data Konversi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Perhitungan</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Hasil Akhir</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <i class="nav-icon fas fa-th"></i>
                        <p>User</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
